<li>
	<span class="project_name"><%= project.project_name %></span>
	<span class="client_name"><%= project.client_name %></span>
	<span class="client_name"><%= project.rate %></span>
	<% if is_admin? %>
		<%= link_to "delete", project, method: :delete, confirm: "Damn nigga, you sure?", title: project.project_name %>
	<% end %>
</li>