<% if !@current_user.projects.nil? %>
	<div class="row">
		<div class="span8 well">
			<h3>Projects (<%= @current_user.projects.count %>)</h3>
			<ol class="projects">
				<%= render @current_user.projects %>
			</ol>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h3>There are no projects<h3>
<% end %>
