<div class="row">
	<div class="span8 well projects">
		<span class="project_name"><%= @project.project_name %></span><br />
		<span class="client_name"><%= @project.client_name %></span><br />
		<span class="client_name">Rate: <%= @project.rate %>/hr</span><br />
		<% if is_admin? %>
			<%= button_to "delete", @project, method: :delete, confirm: "Damn nigga, you sure?", title: @project.project_name %>
		<% end %>
	</div>
</div>